{% extends "admin_layout.html.twig" %}

{% block title %}Apps{% endblock %}

{% block content %}
    <a class="btn btn-app" href="#">
        <i class="fa fa-plus"></i> Add
    </a>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Downloads</h3>

            <div class="box-tools">
                {# <div class="input-group input-group-sm" style="width: 150px;">
                     <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                     <div class="input-group-btn">
                         <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                     </div>
                 </div>#}
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th style="width: 10px">#ID</th>
                    <th>File</th>
                    <th>User</th>
                    <th>Count</th>
                </tr>
                {% for download in downloads %}
                    <tr>
                        <td>{{ download.id }}</td>
                        <td><a href="{{ path('admin_edit_file', {id:download.fileId}) }}">File#{{ download.fileId }}</a></td>
                        <td><a href="{{ path('admin_users_edit', {id:download.userId}) }}">User#{{ download.userId }}</a></td>
                        <td>{{ download.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                {% if currentPage > 1 %}
                    <li><a href="{{ path('admin_downloads',{page:currentPage - 1}) }}">«</a></li>
                {% endif %}
                {% if downloads|length > 9 %}
                    <li><a href="{{ path('admin_downloads',{page:currentPage + 1}) }}">»</a></li>
                {% endif %}
            </ul>
        </div>
        <!-- /.box-body -->
    </div>
{% endblock %}