{% extends "admin_layout.html.twig" %}

{% block title %}File{% endblock %}

{% block content %}
    <div class="row">
        <form action="{{ path('admin_store_user',{id: user.id ?? 0}) }}" method="post">
            {{ form_widget(form._token) }}
            {% if user.id is defined and user.id is not null %}
                <input type="hidden" name="user[id]" value="{{ user.id }}">
            {% endif %}
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">User</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="fileName">Name</label>
                            <input type="text" value="{{ user.username }}" class="form-control" id="appHot"
                                   name="user[username]" placeholder="Host">
                        </div>
                        <div class="form-group">
                            <label for="fileName">Contact Email</label>
                            <input type="text" class="form-control" value="{{ user.email ? user.email : "empty" }}"
                                   id="contacEmail"
                                   name="user[email]" placeholder="Contact Email">
                        </div>
                        <div class="form-group">
                            <label for="fileName">Device</label>
                            <input type="text" class="form-control" value="{{ user.device ? user.device : "empty" }}"
                                   id="testKey"
                                   name="user[device]" placeholder="Test key">
                        </div>
                        <div class="form-group">
                            <label for="fileName">Password</label>
                            <input placeholder="Please input new password" type="text" class="form-control"
                                   name="new_password">
                        </div>
                        {% if user.id is defined and user.id is not null %}
                            <div class="form-group">

                                <label for="uploadType">Files list</label>
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <th style="width: 10px">#ID</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Size</th>
                                        <th>Time Left</th>
                                        <th style="width: 168px">Actions</th>
                                    </tr>
                                    {% for file in files %}
                                        <tr>
                                            <td>{{ file.id }}</td>
                                            <td>{{ file.name }}</td>
                                            <td>{{ file.status }}</td>
                                            <td>
                                                {% if file.status is defined and file.status != "site_file" %}
                                                    <div class="progress progress-xs progress-striped active">
                                                        <div class="progress-bar progress-bar-primary"
                                                             style="width: {{ file.timeLeft }}%"></div>
                                                    </div>
                                                    <span class="badge bg-light-blue">{{ file.timeLeft }}%</span>
                                                {% else %}
                                                    <span class="badge bg-light-blue">unlimited</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <a href="{{ path("admin_edit_file",{id:file.id}) }}"
                                                       class="btn btn-default">Open</a>
                                                    <button type="button" class="btn btn-default dropdown-toggle"
                                                            data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <a href="{{ path('admin_change_file_status',{id:file.id, status:'blocked'}) }}">Block</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('admin_change_file_status',{id:file.id, status:'active'}) }}">Unblock</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="{{ path('admin_file_expire',{id:file.id}) }}">Make
                                                                expired</a></li>
                                                        <li><a href="{{ path('admin_file_prolong',{id:file.id}) }}">Prolong
                                                                expiration</a></li>
                                                        <li class="divider"></li>
                                                        <li>
                                                            <a href="{{ path('admin_change_file_status',{id:file.id, status:'deleted'}) }}">Delete
                                                                ( soft )</a></li>
                                                        <li><a href="{{ path('admin_destruct_file',{id:file.id}) }}">Delete
                                                                ( forever )</a></li>
                                                        <li class="divider"></li>
                                                        {% if file.status is defined and file.status != "site_file" %}
                                                            <li>
                                                                <a href="{{ path('get_file_by_hash', {hash:file.hash}) }}">Download</a>
                                                            </li>
                                                        {% else %}
                                                            <li>
                                                                <a href="{{ path('get_site_file_by_hash', {hash:file.hash}) }}">Download</a>
                                                            </li>
                                                        {% endif %}

                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="box-footer clearfix">
                                    <ul class="pagination pagination-sm no-margin pull-right">
                                        {% if currentPage > 1 %}
                                            <li>
                                                <a href="{{ path('admin_users_edit',{id:user.id,page:currentPage - 1}) }}">«</a>
                                            </li>
                                        {% endif %}
                                        {% if files|length > 9 %}
                                            <li>
                                                <a href="{{ path('admin_users_edit',{id:user.id,page:currentPage + 1}) }}">»</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>

                            </div>
                        {% endif %}

                        {% if user.id is defined and user.id is not null %}
                            <div class="form-group">

                                <label for="uploadType">Files list</label>
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <th style="width: 10px">#ID</th>
                                        <th>File</th>
                                        <th>Count</th>
                                        <th>Status</th>
                                    </tr>
                                    {% for download in downloads %}
                                        <tr>
                                            <td>{{ download.id }}</td>
                                            <td><a href="{{ path('admin_edit_file', {id:download.fileId}) }}">File#{{ download.fileId }}</a></td>
                                            <td>{{ download.count }}</td>
                                            <td>{{ download.status }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="box-footer clearfix">
                                    <ul class="pagination pagination-sm no-margin pull-right">
                                        {% if currentPage > 1 %}
                                            <li>
                                                <a href="{{ path('admin_users_edit',{id:user.id,page:currentPage - 1}) }}">«</a>
                                            </li>
                                        {% endif %}
                                        {% if downloads|length > 9 %}
                                            <li>
                                                <a href="{{ path('admin_users_edit',{id:user.id,page:currentPage + 1}) }}">»</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>

                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Actions</h3>
                    </div>
                    <div class="box-body form-horizontal">
                        <div class="form-group">
                            <label for="inputStatus" class="col-sm-3 control-label">Status</label>

                            <div class="col-sm-9 pull-right">
                                <select class="form-control" name="user[status]">
                                    <option {{ user.status == "active" ? "selected" : "" }} value="active">Active
                                    </option>
                                    <option {{ user.status == "blocked" ? "selected" : "" }} value="blocked">
                                        Blocked
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Ip</label>

                            <div class="col-sm-9 pull-right">
                                <input type="text" class="form-control pull-right" name="user[ip]"
                                       value="{{ user.ip  ? user.ip : "0.0.0.0" }}">
                            </div>
                            <!-- /.input group -->
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Role</label>

                            <div class="col-sm-9 pull-right">
                                <input disabled type="text" class="form-control pull-right"
                                       value="{{ user.userRoles|join(', ') }}">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="btn-group" style="width: 100%;">
                            <button type="submit" name="user[save]" class="btn btn-primary btn-flat"
                                    style="width: calc(100% - 25px);">Save
                            </button>
                            {% if user.id is defined and user.id is not null %}
                                <button type="button" class="btn btn-primary btn-flat dropdown-toggle"
                                        data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('admin_change_user_status',{id:user.id, status:'blocked'}) }}">Block</a>
                                    </li>
                                    <li><a href="{{ path('admin_change_user_status',{id:user.id, status:'active'}) }}">Activate</a>
                                    </li>
                                    <li class="divider"></li>
                                    {% if user.ip is defined and user.ip %}
                                        <li>
                                            <a href="{{ path('admin_change_user_status_ip',{ip:user.ip, status:'blocked'}) }}">Block
                                                by IP</a></li>
                                        <li>
                                            <a href="{{ path('admin_change_user_status_ip',{ip:user.ip, status:'active'}) }}">Activate
                                                by IP</a></li>
                                        <li class="divider"></li>
                                    {% endif %}
                                    {#<li><a href="#">Set limit</a></li>#}
                                    <li><a href="{{ path('admin_expire_user_files',{id:user.id}) }}">Clear all files</a></li>
                                    <li><a href="{{ path('admin_change_user_files_status',{id:user.id, status:'blocked'}) }}">Block all files</a></li>
                                    <li><a href="{{ path('admin_change_user_files_status',{id:user.id, status:'active'}) }}">Unblock all files</a></li>
                                    <li class="divider"></li>
                                    {% if user.ip is defined and user.ip %}
                                    <li><a href="{{ path('admin_expire_user_files_ip',{ip:user.ip}) }}">Clear all files by IP</a></li>
                                    <li><a href="{{ path('admin_change_user_files_status_ip',{ip:user.ip, status:'blocked'}) }}">Block all files by IP</a></li>
                                    <li><a href="{{ path('admin_change_user_files_status_ip',{ip:user.ip, status:'active'}) }}">Unblock all files by IP</a></li>
                                    <li class="divider"></li>
                                    {% endif %}
                                    <li><a href="{{ path('admin_delete_user',{id:user.id}) }}">Delete (Clear all)</a></li>
                                    <li class="divider"></li>
                                    {% if user.ip is defined and user.ip %}
                                    <li><a href="{{ path('admin_delete_user_ip',{ip:user.ip}) }}">Delete (Clear all) by IP</a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if user.id is defined and user.id is not null %}
                    <div class="text-center">
                        <a href="{{ path('admin_change_user_status',{id:user.id, status:'blocked'}) }}"
                           class="btn btn-app">
                            <i class="fa fa-thumbs-o-down"></i> Block
                        </a>
                        {% if user.ip is defined and user.ip %}
                            <a href="{{ path('admin_change_user_status_ip',{ip:user.ip, status:'blocked'}) }}"
                               class="btn btn-app">
                                <i class="fa fa-thumbs-o-down"></i> Block by IP
                            </a>
                        {% endif %}
                        <a href="{{ path('admin_change_user_status',{id:user.id, status:'active'}) }}"
                           class="btn btn-app">
                            <i class="fa fa-thumbs-o-up"></i>Activate
                        </a>
                        {% if user.ip is defined and user.ip %}
                            <a href="{{ path('admin_change_user_status_ip',{ip:user.ip, status:'active'}) }}"
                               class="btn btn-app">
                                <i class="fa fa-thumbs-o-up"></i>Activate by IP
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </form>
    </div>

{% endblock %}