{% extends "admin_layout.html.twig" %}

{% block title %}File{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_files_edit') }}

{% endblock %}

{% block content %}

    <div class="row">
        <form action="{{ path('admin_store_file',{id: file.id ?? 0})}}" name="file_form" method="post">
            {{ form_widget(form._token) }}
            {% if file.id is defined %}
                <input type="hidden" name="file_form[id]" value="{{ file.id }}">
            {% endif %}
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">File</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label for="fileName">Name</label>
                        <input type="text" class="form-control" name="file_form[name]" value="{{ file.name }}"  id="fileName" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="fileName">Path</label>
                        <input type="text" class="form-control" disabled value="{{ file.path }}" placeholder="/path/to/file">
                    </div>
                    <div class="form-group">
                        <label for="fileName">Url</label>
                        <input type="text" class="form-control" disabled value="/f/{{ file.hash }}" placeholder="/url/to/file">
                    </div>
                    <div class="form-group">
                        <label for="uploadType">Upload Api</label><br>
                        <a class="btn btn-primary" href="{{ path('admin_edit_app', {id:file.appId}) }}" target="_blank">
                            Go to app (#{{file.appId}}) page
                        </a>
                    </div>
                    {% if file.userId is defined and file.userId %}
                    <div class="form-group">
                        <label for="uploadType">User</label><br>
                        <a class="btn btn-primary" href="{{ path('admin_users_edit', {id:file.userId}) }}" target="_blank">
                            Go to user (#{{file.userId}}) page
                        </a>
                    </div>
                    {% endif %}
                    {% if file.id is defined and file.id is not null %}
                        <div class="form-group">

                            <label for="uploadType">File downloads</label>
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th style="width: 10px">#ID</th>
                                    <th>User</th>
                                    <th>Count</th>
                                    <th>Status</th>
                                </tr>
                                {% for download in downloads %}
                                    <tr>
                                        <td>{{ download.id }}</td>
                                        <td><a href="{{ path('admin_users_edit', {id:download.userId}) }}">User#{{ download.userId }}</a></td>
                                        <td>{{ download.count }}</td>
                                        <td>{{ download.status }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="box-footer clearfix">
                                <ul class="pagination pagination-sm no-margin pull-right">
                                    {% if currentPage > 1 %}
                                        <li>
                                            <a href="{{ path('admin_edit_file',{id:user.id,page:currentPage - 1}) }}">«</a>
                                        </li>
                                    {% endif %}
                                    {% if downloads|length > 9 %}
                                        <li>
                                            <a href="{{ path('admin_users_edit',{id:user.id,page:currentPage + 1}) }}">»</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>

                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">File props</h3>
                </div>
                <div class="box-body form-horizontal">
                    <div class="form-group">
                        <label for="inputStatus" class="col-sm-2 control-label">Status</label>

                        <div class="col-sm-9 pull-right">
                            <select class="form-control" name="file_form[status]">
                                <option {{ file.status == "active" ? "selected" : "" }} value="active">Active</option>
                                <option {{ file.status == "blocked" ? "selected" : "" }} value="blocked">Blocked</option>
                                <option {{ file.status == "deleted" ? "selected" : "" }} value="deleted">Deleted</option>
                                <option {{ file.status == "reported" ? "selected" : "" }} value="reported">Reported</option>
                                <option {{ file.status == "site_file" ? "selected" : "" }} value="site_file">Site File</option>
                            </select>
                        </div>
                    </div>
                    {#<div class="form-group">
                        <label for="inputStatus" class="col-sm-2 control-label">Size</label>

                        <div class="col-sm-9 pull-right">
                            <input type="text" disabled class="form-control pull-right" value="100mb" id="datepicker">
                        </div>
                    </div>#}
                    {% if file.status is defined and file.status != "site_file"%}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Time left</label>

                        <div class="col-sm-9 pull-right">
                            <div class="progress progress-xs progress-striped active">
                                <div class="progress-bar progress-bar-primary" style="width: {{ file.timeLeft }}%"></div>
                            </div>
                            <span class="badge bg-light-blue">{{ file.timeLeft }}%</span>
                        </div>
                        <!-- /.input group -->
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="inputStatus" class="col-sm-2 control-label">Size</label>

                        <div class="col-sm-9 pull-right">
                            <input type="text" disabled class="form-control pull-right" value="{{ file.size/1000000 }}Mb" id="datepicker">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Life Time</label>

                        <div class="col-sm-9 pull-right">
                            <input type="text" class="form-control pull-right" disabled value="{{ file.lifeTime }}">
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Aviable</label>

                        <div class="col-sm-9 pull-right">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" disabled value="{{ file.aviableAt|date('Y-m-d') }}">
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Uploaded</label>

                        <div class="col-sm-9 pull-right">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" disabled value="{{ file.createdAt|date('Y-m-d') }}">
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="btn-group" style="width: 100%;">
                        <button type="submit" name="file_form[save]" class="btn btn-primary btn-flat" style="width: calc(100% - 25px);">Save</button>
                        <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('admin_change_file_status',{id:file.id, status:'blocked'}) }}">Block</a></li>
                            <li><a href="{{ path('admin_change_file_status',{id:file.id, status:'active'}) }}">Unblock</a></li>
                            <li class="divider"></li>
                         {#   <li><a href="#">Create report</a></li>
                            <li class="divider"></li>#}
                            <li><a href="{{ path('admin_change_file_status',{id:file.id, status:'deleted'}) }}">Delete ( soft )</a></li>
                            <li><a href="{{ path('admin_destruct_file',{id:file.id}) }}">Delete ( forever )</a></li>
                            <li class="divider"></li>
                            {#<li><a href="#">Replace</a></li>#}
                            {% if file.status is defined and file.status != "site_file" %}
                                <li><a href="{{ path('get_file_by_hash', {hash:file.hash}) }}">Download</a></li>
                            {% else %}
                                <li><a href="{{ path('get_site_file_by_hash', {hash:file.hash}) }}">Download</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="{{ path('admin_file_prolong',{id:file.id}) }}" class="btn btn-app">
                    <i class="fa fa-thumbs-o-up"></i> Prolong expiration
                </a>
                <a href="{{ path('admin_file_expire',{id:file.id}) }}" class="btn btn-app">
                    <i class="fa fa-thumbs-o-down"></i> Make expired
                </a>

                {% if file.status is defined and file.status != "site_file" %}
                    <a href="{{ path('get_file_by_hash', {hash:file.hash}) }}" class="btn btn-app">
                        <i class="fa fa-download"></i> Download
                    </a>
                {% else %}
                    <a href="{{ path('get_site_file_by_hash', {hash:file.hash}) }}" class="btn btn-app">
                        <i class="fa fa-download"></i> Download
                    </a>
                {% endif %}

            </div>
           {# <a class="btn btn-app">
                <i class="fa fa-pause"></i> Create report
            </a>#}
            {#
            <a class="btn btn-app">
                <i class="fa fa-pause"></i> Block
            </a>
            <a class="btn btn-app">
                <i class="fa fa-pause"></i> Unblock
            </a>#}
           {# <a class="btn btn-app">
                <i class="fa fa-pause"></i> Delete (soft)
            </a>
            <a class="btn btn-app">
                <i class="fa fa-pause"></i> Delete (forever)
            </a>#}
        </div>
        </form>
    </div>

{% endblock %}