{% extends "admin_layout.html.twig" %}

{% block title %}File{% endblock %}

 {% block stylesheets %}

     {{ parent() }}
     <script src="//cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
     {{ encore_entry_link_tags('admin_page_edit') }}


 {% endblock %}

{% block javascripts %}
    <script src="https://sendget.app/js/sag-sdk.js?key=live_0nIlZXasJiOiUGc5RnIsICZ4UmMjRmZilTZwMWNiojIoNXYo9Vcp5WdiwiIt92YuwWah12ZANnL0V2Zk5WZzJiOiwWah12XyV2c1Jye"></script>

    {{ parent() }}
    {{ encore_entry_script_tags('admin_page_edit') }}
{% endblock %}

{% block content %}

    <div class="row">
        <form action="{{ path('admin_store_page',{lang: pageData.currentLocale ?? 'en', id: pageData.id ?? 0})}}" method="post">
            {{ form_widget(form._token) }}
            {% if pageData.id is defined %}
                <input type="hidden" name="page[id]" value="{{ pageData.id }}">
            {% endif %}
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Page</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label for="fileName">Title</label>
                        <input type="text" class="form-control" id="fileName" placeholder="Title" name="page[title]" value="{{ pageData.title }}">
                    </div>
                    <div class="form-group">
                        <label for="fileName">Description</label>
                        <textarea  rows="3" style="width: 100%;resize: none;" cols="80" name="page[excerpt]">{{ pageData.excerpt }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="fileName">Content (Visual editor)</label>
                        <div id="page_content" >{{ pageData.content|raw }}</div>
                    </div>
                    <div class="form-group">
                        <label for="fileName">Content (Text editor)</label>
                        <textarea id="page_ready_content" name="page[content]" rows="10" style="width: 100%" cols="80" name="page[content]">{{ pageData.content }}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Actions</h3>
                </div>
                <div class="box-body form-horizontal">
                    <div class="form-group">
                        <label for="inputStatus" class="col-sm-3 control-label">Lang</label>

                        <div class="col-sm-9 pull-right">
                            <select class="form-control" onchange="location.href=this.value">
                                {%for translation in  pageData.translations%}
                                <option {{ translation.locale == pageData.CurrentLocale ? "selected" : "" }} value="{{ path('admin_edit_page',{'id':pageData.id,'lang':translation.locale}) }}">{{ translation.locale }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Updated</label>

                        <div class="col-sm-9 pull-right">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="datepicker" value="{{ pageData.updatedAt|date('Y-m-d') }}">
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Created</label>

                        <div class="col-sm-9 pull-right">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="datepicker" value="{{ pageData.createdAt|date('Y-m-d') }}">
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <button name="save" id="submit_form" type="submit" class="btn btn-primary btn-block">Save</button>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Image</h3>
                </div>
                <div class="box-body form-horizontal">
                    <img class="img-responsive" src="{{ pageData.image }}" alt="Photo">
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <button class="btn btn-primary btn-block" id="pageImageUpload" data-id="{{ pageData.id }}">Upload</button>
                </div>
            </div>
        </div>
        </form>
    </div>

{% endblock %}