{% extends "admin_layout.html.twig" %}

{% block title %}Files{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">All uploaded files</h3>

            {#<div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>#}
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th style="width: 10px">#ID</th>
                    <th style="width: 100px">Name</th>
                    <th style="width: 40px">Status</th>
                    <th style="width: 40px">Size</th>
                    <th style="width: 100px">Uploaded</th>
                    <th style="width: 100px">Aviable At</th>
                    <th style="width: 100px">Deletes In</th>
                    <th>Time left</th>
                    <th style="width: 168px">Actions</th>
                </tr>
                {% for file in files %}
                    <tr>
                        <td>{{ file.id }}</td>
                        <td>{{ file.name }}</td>
                        <td>{{ file.status }}</td>
                        <td>{{ file.size/1000000 }}Mb</td>
                        <td>{{ file.createdAt|date('Y-m-d') }}</td>
                        <td>{{ file.aviableAt|date('Y-m-d') }}</td>
                        <td>{{ file.deletesIn|date('Y-m-d') }}</td>
                        <td>
                            {% if file.status is defined and file.status != "site_file" %}
                            <div class="progress progress-xs progress-striped active">
                                <div class="progress-bar progress-bar-primary"
                                     style="width: {{ file.timeLeft }}%"></div>
                            </div>
                            <span class="badge bg-light-blue">{{ file.timeLeft }}%</span>
                            {% else %}
                                <span class="badge bg-light-blue">unlimited</span>
                            {% endif %}
                        </td>

                        <td>
                            <div class="btn-group">
                                <a href="{{ path("admin_edit_file", {'id':file.id }) }}"
                                   class="btn btn-default">Edit</a>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('admin_change_file_status',{id:file.id, status:'blocked'}) }}">Block</a>
                                    </li>
                                    <li><a href="{{ path('admin_change_file_status',{id:file.id, status:'active'}) }}">Unblock</a>
                                    </li>
                                    {#<li><a href="#">Create report</a></li>#}
                                    <li class="divider"></li>
                                    <li><a href="{{ path('admin_file_expire',{id:file.id}) }}">Make expired</a></li>
                                    <li><a href="{{ path('admin_file_prolong',{id:file.id}) }}">Prolong expiration</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('admin_change_file_status',{id:file.id, status:'deleted'}) }}">Delete
                                            ( soft )</a></li>
                                    <li><a href="{{ path('admin_destruct_file',{id:file.id}) }}">Delete ( forever )</a>
                                    </li>
                                    {#<li class="divider"></li>
                                    <li><a href="#">Block all files <br> from this IP</a></li>
                                    <li><a href="#">Unblock all files <br> from this IP</a></li>
                                    <li><a href="#">Delete ( soft ) <br> all files  from this IP</a></li>
                                    <li><a href="#">Delete ( forever ) <br> all files from this IP</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Block this IP</a></li>#}
                                    <li class="divider"></li>
                                    {% if file.status is defined and file.status != "site_file" %}
                                    <li><a href="{{ path('get_file_by_hash', {hash:file.hash}) }}">Download</a></li>
                                    {% else %}
                                        <li><a href="{{ path('get_site_file_by_hash', {hash:file.hash}) }}">Download</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                {% if currentPage > 1 %}
                    <li><a href="{{ path('admin_files',{page:currentPage - 1}) }}">«</a></li>
                {% endif %}
                {% if files|length > 9 %}
                    <li><a href="{{ path('admin_files',{page:currentPage + 1}) }}">»</a></li>
                {% endif %}
            </ul>
        </div>
        <!-- /.box-body -->
    </div>
{% endblock %}