<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <ul class="nav justify-content-left">
                    <li class="nav-item">
                        <i class="fas fa-language footer-lang-icon"></i>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-lang" href="{{ path("set_locale",{ locale:'ua' }) }}">Ua</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-lang" href="{{ path("set_locale",{ locale:'en' }) }}">En</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-lang" href="{{ path("set_locale",{ locale:'de' }) }}">De</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("faq") }}">Faq</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("statistic") }}">Statistic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("about_us") }}">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("contact_us") }}">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("api") }}">Developers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("tos") }}">Terms and conditions</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
               <div class="share-icons">
                   <i class="fab fa-facebook"></i>
                   <i class="fab fa-twitter-square"></i>
                   <i class="fab fa-google-plus-square"></i>
                   <i class="fa fa-envelope-square"></i>
               </div>
            </div>
        </div>
    </div>
</footer>